# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
work/**/*.jpeg
.DS_STORE
playground/
.snakemake*
checkpoints/
.vscode/
work/intermediate
work/output

example_data/example_out

*.svs
*logs*
*annotations.txt
